.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    z-index: 10;
}

.line {
    width: 400px;
    height: 8px;
    background-color: rgba(128, 128, 128, 0.252);
    display: flex;
    position: relative;
}

.step {
    flex-grow: 1;
    background-color: transparent;
}

.active-step {
    background-color: green;
}